/* Write your CSS here! */
p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 150px;
}

header {
    background-color: white;
    margin-right: 150px;
    margin-left: 150px;
    text-align: center;
}

body {
    background-color: #DBF9FC;
    padding-top: 10px;
    margin: 8px;
    display: block;
    }

#Inlink {
    border: 1px solid #fff0ff;
    background-color: #fff0ff;
    list-style: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#Inlink li {
    display: inline;
    margin-right: 20px;
}

#mainHeading {
    color: red;
  }  

h3 {
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

#dad {
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 150px;
    margin-right: 150px;
}

#dadandi {
    text-align: center;
    padding-bottom: 20px;
}

#more {
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 150px;
    margin-right: 150px;
}

.funParagraph {
    color: green;
}

#past {
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 150px;
    margin-right: 150px;
}